$blue: #1a78a3;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $blue;
	color: white;
	@include margenes(50px, 0px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: blue;
	color: white;
	@include margenes(10px, 0px);
}

.card-hotel {
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	@include margenes(10px, 0px);
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.star-icon{
	color:blue;
}

.link { color: white; }
.link:hover { color: orange; }

.tab-content {
	padding-top: 20px;
}

.carousel-item {
	padding-top: 30px;
}